# Example of secrets in Telegram Adapter in development, staging or production environment

APP_ENV=dev # dev/staging/prod
ROOT_DIR= # Root directory of the prepro service on the host machine, ex: /Users/username/Code/prepro

TELEGRAM_BOT_TOKEN= # Your Telegram Bot Token
TELEGRAM_USER1_ID= # Your Telegram User 1 ID
TELEGRAM_USER2_ID= # Your Telegram User 2 ID